// Brand
.brand-icon-img {
  width: 65px;
  object-fit: contain;
}

.brand-typo-img {
  height: 50px;
}

// Language
.bi-arrow-down {
  font-size: 15px;
}

.active-lang {
  color: red;
}

::ng-deep .mat-menu-panel {
  max-height: 150px !important;
}

// Navbar Button
.container-nav-btn {
  button:not(:nth-last-of-type(1)) {
    margin-right: 2em;
  }

  button span {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    transition: all 0.2s;
    color: #ebebeb;
  }

  button span:hover:not(.signIn-btn span) {
    border-bottom: 3px solid #fff;
  }

  .signIn-btn {
    background: linear-gradient(
      90deg,
      #345aa4 -28.35%,
      rgba(63, 0, 156, 0) 153.96%
    );
    border-radius: 11px;
    border: 2px solid transparent;
  }

  .signIn-btn:hover {
    border: 2px solid #fff;
  }

  .underline {
    display: none;
  }
}

// Menu Hamburger
.dropdown button {
  background: transparent;
  border: none;
}

.dropdown-toggle::after {
  display: none;
}

// Background
.bg-container {
  background: linear-gradient(
    111.68deg,
    #5abcf7 3.86%,
    #4d82de 42.27%,
    #8965c3 91.66%
  );
}

// Route
.route-active {
  .underline {
    display: block;
  }
}

.underline {
  width: 1rem;
  height: 5px;
  border-radius: 50px;
  background-color: #fff;
}

// Responsive [Text]
// @media screen and (min-width: 992px) and (max-width: 1200px) {
//   .container-nav-btn {
//     button span {
//       font-style: normal;
//       font-weight: 500;
//       font-size: 14px;
//       line-height: 35px;
//       transition: all 0.2s;
//       color: #ebebeb;
//     }
//   }
// }
