<!-- Contact Us -->
<div [class.animation_component]="slide_change">
    <div class="col-12 d-flex flex-column flex-lg-row justify-content-between align-items-center px-5 contact-us slide-component" id="{{contactId}}">
        <!-- Text -->
        <div class="col-12 col-md-5 d-flex align-items-center left-slide">
            <app-text-contact></app-text-contact>
        </div>
        <div class="col-12 col-md-7 right-slide">
            <app-cards-contact></app-cards-contact>
        </div>
    </div>
    <div class="lists-social w-100 my-5">
        <ul class="d-flex justify-content-center justify-content-lg-start align-items-center h-100 px-5">
            <li class="me-5"><img src="../../../../../assets/img/Icon/Facebook.svg" alt="Facebook"></li>
            <li class="me-5"><img src="../../../../../assets/img/Icon/Instagram.svg" alt="Instagram"></li>
            <li class="me-5"><img src="../../../../../assets/img/Icon/Linkedin.svg" alt="Linkedin"></li>
            <li class="me-5"><img src="../../../../../assets/img/Icon/Twitter.svg" alt="Twitter"></li>
            <li><img src="../../../../../assets/img/Icon/Github.svg" alt="Github"></li>
        </ul>
    </div>
</div>

