.descript span {
  font-weight: 400;
}

.descript p {
  font-size: 24px;
}

.btn-action {
  background: transparent;
  border-radius: 13px;
  border: 0;

  img {
    width: 300px;
  }
}

.appBtn {
  position: relative;
  left: -0.5rem;
}
