<div class="container">
  <div class="row mx-0">
    <div class="col-12 col-md-7 d-flex align-items-center">

      <div class="container-fluid descript">

        <!-- Description -->
        <div class="row mx-0 mt-5 mt-lg-0">
          <span class="display-3 text-light col-12 text-center text-md-start">
            <strong>Let's build the
              future toghether</strong>
          </span>
          <h4 class="text-light col-12 py-3 mt-3 text-center text-md-start">The future is now</h4>
        </div>

        <!-- Button -->
        <div class="mt-3 text-center text-md-start ms-md-3 mb-lg-5 pb-lg-5">
          <button class="btn btn-lg btn-block btn-primary btn-action px-5" (click)="authService.login()">Join
            Now</button>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-5 mt-5 mb-lg-5 pb-lg-5">
      <div class="justify-content-center align-items-center">
        <img class="w-100 h-100" src="./../../../../assets/img/phone-element.svg" alt="Phone">
      </div>
    </div>
  </div>
</div>