<!-- Team -->
<div class="col-12 d-flex justify-content-between team">
    <div class="col-12 col-md-5 d-flex">
        <div class="row descript mx-0 mt-5 mt-lg-0">
            <div>
                <span class="display-3 text-light col-12 text-center text-md-start">
                    <strong>Team</strong>
                </span>
                <p class="text-light col-12 py-3 mt-3 text-center text-md-start">1st Wiin’ser : Richard R. Hakim D.
                    Méryline D.
                    Thierry T. Josh, Celine D. Tony...</p>
            </div>

            <div class="d-flex align-items-baseline mt-5 pt-5">
                <img src="../../../../../assets/img/g - Team/team.svg" alt="Team Wiin's">
            </div>
        </div>
    </div>
    <div class="container-img d-flex flex-column col-12 col-md-5 mb-lg-5 pb-lg-5">
        <div class="ceo d-flex align-items-center mb-5">
            <div class="avatar me-5">
                <img src="../../../../../assets/img/g - Team/raphael.svg" alt="CEO">
            </div>
            <div class="info">
                <h4>Raphaël</h4>
                <p class="text-white">Main Founder<br />
                    Full Stack Developer</p>
            </div>
        </div>
        <div class="manager d-flex align-items-center mb-5">
            <div class="avatar me-5">
                <img src="../../../../../assets/img/g - Team/levine.svg" alt="Manager">
            </div>
            <div class="info">
                <h4>Lévine</h4>
                <p class="text-white">Founder<br />
                    Manager</p>
            </div>
        </div>
        <div class="developper d-flex align-items-center">
            <div class="avatar me-5">
                <img src="../../../../../assets/img/g - Team/nathanael.svg" alt="Developper">
            </div>
            <div class="info">
                <h4>Nathanaël</h4>
                <p class="text-white">Founder<br />
                    FrontEnd Developer</p>
            </div>
        </div>
    </div>
</div>