.team {
  margin-top: 10em;
}

.descript span {
  font-weight: 400;
}

.descript p {
  font-size: 24px;
}

// Team
.ceo h4,
.manager h4,
.developper h4 {
  font-size: 27px;
  color: #fff;
}

.ceo p,
.manager p,
.developper p {
  font-size: 19px;
}

.developper .avatar img {
  width: 200px;
  height: 201px;
}
