    <!-- Let's Build the future -->
    <div class="col-12 d-flex justify-content-between zion">
        <div class="col-12 col-md-5 mt-5 mb-lg-6 pb-lg-5 d-flex align-items-center position-relative">
          <div class="justify-content-center align-items-center">
              <div class="main-container d-flex justify-content-between align-items-center">
                  <div class="token">
                    <div class="front">
                        
                    </div>
                    <div class="back">
                      
                    </div>
                  </div>
                 
              </div>
              
          </div>
          <img class="link" src="./../../../../../assets/img/h-Zion/link.svg" alt="Link">
        </div>
        <div class="col-12 col-md-5 d-flex align-items-center">
  
            <div class="container-fluid descript">
      
              <!-- Description -->
              <div class="row mx-0 mt-5 mt-lg-0">
                <span class="display-3 text-light col-12 text-center text-md-start">
                  <strong>Zion</strong>
                </span>
                <p class="text-light col-12 py-3 mt-3 text-center text-md-start">This feature highlighs the latest trends
                    ans hastags from the community. It,s also a great wway to increase your visibility. As creator of all
                    kinds of content, you should know that in order to open people,s eyes, they must know that you exist.</p>
              </div>
      
              <!-- Button -->
              <div class="mt-3 text-center text-md-start ms-md-3 mb-lg-5 pb-lg-5">
                <button class="btn btn-lg btn-block btn-primary btn-action px-5">Buy
                  Zion</button>
              </div>
            </div>
      
          </div>
      </div>